@charset "UTF-8";
.contacts-content {
  margin-top: 63px;
  padding-top: 50px;
}

.contacts__about {
  margin-top: -15px;
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #0A0A0A;
  margin-bottom: 30px;
}
.contacts__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-bottom: 70px;
}
.contacts__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}
.contacts__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
}

.servises-main-box {
  margin-top: 114px;
}

._moved-left {
  margin-left: 23%;
}

.servises-main__summary {
  border-top: 1px solid #B0B0B0;
  display: flex;
  align-items: center;
  max-width: 60%;
  margin-left: 41%;
  padding: 25px 0 25px 60px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.servises-main__summary:hover div {
  color: #04B122;
}
.servises-main__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.servises-main__number {
  margin-right: 30px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #B0B0B0;
  transition: color 0.3s ease;
}
.servises-main__title {
  color: #363636;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  transition: color 0.3s ease;
}
.servises-main__text {
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.servises-main__text > p {
  margin-bottom: 20px;
}
.servises-main__text > p:last-child {
  margin-bottom: 0;
}

._underline {
  border-bottom: 1px solid #B0B0B0;
}

@media (max-width: 767px) {
  .servises-main__details {
    flex-direction: column;
  }
  .servises-main__summary {
    max-width: 100%;
    margin-left: 0;
    padding: 25px 0 25px 0;
  }
  .servises-main__text {
    max-width: 100%;
  }
  ._moved-left {
    margin-left: 0;
  }
}
.articles-banner {
  background-image: url("img/banner_articles.jpg");
  min-height: 318px;
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
}

.articles-box {
  margin-left: 23%;
}

.article {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
  border: 1px solid #B0B0B0;
  border-radius: 20px;
  margin-bottom: 20px;
}
.article__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}
.article__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #161616;
}
.article__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #363636;
  text-decoration: underline;
}
.article__btn:hover {
  color: #04B122;
}
.article__img {
  width: 48%;
}

@media (max-width: 767px) {
  .articles-box {
    margin-left: 0;
  }
}
@media (max-width: 425px) {
  .article {
    flex-direction: column;
  }
  .article__descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    order: 1;
    gap: 38px;
  }
  .article__img {
    width: 100%;
  }
  .article__img > img {
    border-radius: 20px;
  }
  .article__btn {
    align-self: flex-end;
  }
}
._article01 {
  background-image: url("img/article01_main.jpg");
}

._article02 {
  background-image: url("img/article02_prew.jpg");
  background-position: top;
}

._article03 {
  background-image: url("img/article03_prew.jpg");
  background-position: top;
}

.article-body {
  max-width: 494px;
  margin: 0 auto;
  padding: 0 5px;
}
.article-body__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 36px;
  color: #363636;
  margin-bottom: 30px;
}
.article-body__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #161616;
  text-align: justify;
}
.article-body__text > p {
  margin-bottom: 20px;
}
.article-body__img {
  margin-bottom: 30px;
}

.goto-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  transition: color 0.3s ease;
}

.goto-link:hover a {
  color: #04B122;
}

.fa-arrow-right-long {
  margin-left: 15px;
}

.reviews {
  margin-top: 63px;
  padding-top: 50px;
}

.reviews-box {
  max-width: 484px;
  margin: 0 auto;
  padding: 0 5px;
}

.info {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.info > p {
  margin-bottom: 20px;
}

.info > p:last-child {
  margin-bottom: 0;
}

.review__users > div {
  border-top: 1px solid #B0B0B0;
  padding: 20px 0;
}
.review__users > div:last-child {
  border-bottom: 1px solid #B0B0B0;
  margin-bottom: 50px;
}
.review__text {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.review__subheadig {
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
  margin-bottom: 30px;
}
.review__author {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.user-review {
  width: 100%;
  min-height: 138px;
}

.counter {
  margin-bottom: 8px;
  text-align: end;
}

:root {
  --main-black: rgba(10, 10, 10, 1);
  --main-grey: #e0e0e0;
  --main-green: #04b122;
  --dark-grey: rgba(54, 54, 54, 1);
  --radio-grey: #D1D1D1;
  --table-text_grey: rgba(224, 224, 224, 1);
}

.calc_center {
  padding-left: 23%;
  margin-top: 63px;
  padding-top: 50px;
}

.price {
  margin-bottom: 70px;
}

.price-list {
  width: 717px;
  border-collapse: collapse;
  box-shadow: 2px 3px 2px var(--main-grey);
}
.price-list TD,
.price-list TH {
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 3px;
  border: 2px solid var(--main-grey);
  width: 69px;
  height: 50px;
  text-align: center;
}
.price-list TH {
  font-weight: 400;
  text-align: left;
  padding-left: 10px;
  color: var(--dark-grey);
}
.price-list TD {
  font-weight: 600;
}
.price-list TR {
  font-weight: bold;
}

.price_head {
  min-width: 155px;
}

.green {
  color: var(--main-green);
}

.thesis-text_price {
  text-align: left;
}

.price-list_title {
  font-weight: 600;
  text-align: left;
  font-size: 40px;
  padding-bottom: 15px;
}

.price-list_subtitle {
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--main-black);
}

.calc {
  margin-top: 70px;
  margin-bottom: 70px;
}

.calc_title {
  font-weight: 600;
  text-align: left;
  font-size: 40px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.calc_subtitle {
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: var(--dark-grey);
  margin-right: 77px;
}

.calc_methods_wrapper {
  display: flex;
  flex-direction: row;
}

.calc_methods {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  -moz-column-gap: 71px;
       column-gap: 71px;
}

.calc_label {
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  margin-bottom: 20px;
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
}

.calc_methods input[name=arb_method] {
  --webkit-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 24px;
  height: 24px;
  border: 1px solid var(--radio-grey);
  border-radius: 20%;
}

.calc_methods input[name=arb_method] {
  display: grid;
  place-content: center;
}

.calc_methods input[name=arb_method]::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  border-radius: 20%;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(224, 224, 224);
}

.calc_methods input[name=arb_method]:hover::before {
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(141, 141, 141);
}

.calc_methods input[name=arb_method]:checked::before {
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(4, 177, 34);
}

.calc_methods input[name=arb_method]:active::before {
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(141, 141, 141);
}

.calc_diameter-choise input[name=arb_diametr] {
  display: grid;
  place-content: center;
}

.calc_diameter-choise input[name=arb_diametr]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(224, 224, 224);
}

.calc_diameter-choise input[name=arb_diametr]:hover::before {
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(141, 141, 141);
}

.calc_diameter-choise input[name=arb_diametr]:checked::before {
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(4, 177, 34);
}

.calc_diameter-choise input[name=arb_diametr]:active::before {
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(141, 141, 141);
}

.calc_method_box1,
.calc_method_box2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calc_radio_align {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.calc_radio_align2 {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
}

.calc_diameter-choise {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 40px;
}

.calc_diameter-choise input[name=arb_diametr] {
  --webkit-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--radio-grey);
  width: 16px;
  height: 16px;
  border: 1px solid var(--radio-grey);
  border-radius: 50%;
  vertical-align: -3px;
  margin-right: 4px;
}

@media (max-width: 811px) {
  .calc_methods {
    margin-bottom: 10px;
    -moz-column-gap: 31px;
         column-gap: 31px;
  }
  .calc_diameter-choise {
    display: flex;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media (max-width: 673px) {
  .calc_center {
    padding-left: 10%;
  }
  .calc_methods_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .calc_methods {
    margin-bottom: 10px;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media (max-width: 430px) {
  .calc_methods {
    display: flex;
    flex-direction: column;
  }
  .calc_diameter-choise {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .price-list_title {
    font-size: 26px;
    font-weight: 600;
  }
  .calc_title {
    font-size: 26px;
    font-weight: 600;
  }
  .calc_subtitle {
    font-size: 20px;
    font-weight: 500;
  }
}
@media (max-width: 375px) {
  .calc_label {
    margin-bottom: 15px;
  }
  .calc_methods {
    display: flex;
    flex-direction: column;
  }
  .calc_diameter-choise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}
.amountForUser {
  margin-top: 16px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  -webkit-text-decoration-color: #363636;
          text-decoration-color: #363636;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-section {
  flex: 1;
}

/*

._moved-left
класс отвечает за смещение влево осн секций на страницах статьи и контакты, при ширине 767 отступ обнуляется(_servises-main.scss)

*/
body._lock {
  overflow: hidden;
}

img {
  max-width: 100%;
}

input,
textarea {
  outline: 0;
}

.center {
  max-width: 975px;
  margin: 0 auto;
  padding: 0 5px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #E77105;
}

.header-content {
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav {
  width: 50%;
  padding-bottom: 8px;
}

.nav-icon,
.nav-info-mobile {
  display: none;
}

.nav-box {
  display: flex;
  justify-content: space-between;
}

.nav-link > a {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.nav-link > a:hover {
  color: #0A0A0A;
}

.city {
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.phone-number {
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .nav-box {
    display: block;
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #FBFBFB;
    padding: 100px 30px 30px 30px;
    transition: all 0.5s ease 0s;
  }
  .nav-box._active {
    right: 0;
  }
  .nav-icon {
    display: flex;
    justify-content: flex-end;
  }
  .nav-info-mobile {
    display: block;
    padding-top: 90px;
  }
  .nav-info-mobile p {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .nav-icon .fa-solid {
    font-size: 40px;
    margin-right: 20px;
    color: #FFFFFF;
  }
  ._hidden {
    display: none;
  }
  ._show {
    opacity: 0;
  }
  .nav-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .nav-link > a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    color: #000;
  }
  .header-content {
    flex-wrap: wrap;
  }
  .city {
    order: -3;
    width: 50%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000;
  }
  .logo-header {
    max-width: 50%;
  }
  .phone-number {
    order: -2;
    text-align: end;
    width: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
  }
}
.main-banner {
  background-image: url("img/banner.jpg");
  background-size: cover;
  min-height: 480px;
  margin-bottom: 70px;
}

@media (max-width: 360px) {
  .main-banner {
    background-image: url("img/banner_mobile.jpg");
  }
}
.main-content {
  padding-top: 216px;
  padding-bottom: 30px;
}
.main-content__title {
  max-width: 52%;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 45px;
  line-height: 40px;
  color: #fff;
}
.main-content__text {
  max-width: 37%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 25px;
}

.btn {
  padding: 20px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  background-color: #E77105;
  border-radius: 20px;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.btn:hover {
  color: #E77105;
  background-color: #fff;
  border: 1px solid #E77105;
}

.btn:active {
  background-color: #F1AA69;
  border: 1px solid #E77105;
  color: #E77105;
}

.subtitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 36px;
  color: #363636;
  margin-bottom: 30px;
}

@media (max-width: 945px) {
  .subtitle {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .subtitle {
    text-align: left;
  }
}
.servises-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.servises-item {
  border: 1px solid #B0B0B0;
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 945px) {
  .servises-box {
    justify-content: center;
  }
  .servises-item {
    margin-bottom: 15px;
  }
}
.servises {
  margin-bottom: 70px;
}
.servises__img {
  margin-bottom: 10px;
}
.servises__descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #0A0A0A;
  margin-bottom: 30px;
}
.servises__details {
  display: flex;
  justify-content: space-between;
}
.servises__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.thesises {
  margin-bottom: 70px;
}

.thesises-box {
  display: flex;
  justify-content: space-between;
}

.thesises-item {
  border: 1px solid #04B122;
  border-radius: 20px;
  padding: 40px 0;
  width: 31%;
}

@media (max-width: 945px) {
  .thesises-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .thesises-item {
    width: 51%;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .thesises-item {
    width: 63%;
  }
}
@media (max-width: 420px) {
  .thesises-item {
    width: 100%;
  }
}
.thesis-heading {
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
  color: #0A0A0A;
  text-align: center;
  margin-bottom: 10px;
}

.thesis-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.callback {
  background-image: url("img/banner2.jpg");
  background-size: cover;
  min-height: 416px;
}

.callback-content {
  display: flex;
  padding: 35px 0;
  justify-content: flex-end;
}

#callbackform {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  padding: 35px;
  background-color: #F4F4F4;
  border-radius: 18px;
  margin-right: 96px;
}

@media (max-width: 945px) {
  #callbackform {
    margin-right: 0;
  }
  .callback-content {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .callback {
    background-image: none;
  }
  #callbackform {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 400px) {
  #callbackform {
    max-width: 350px;
  }
}
@media (max-width: 375px) {
  #callbackform {
    max-width: 320px;
  }
}
.form-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #000;
  margin-bottom: 25px;
  text-align: center;
}

.form-item {
  position: relative;
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 0 15px 10px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #B0B0B0;
  border-radius: 4px;
  position: relative;
}

.form-input:hover {
  box-shadow: 0 1px #B0B0B0;
}

.form-input:focus {
  box-shadow: 0 1px #0F6CBD;
}

.form-input:active {
  box-shadow: 0 1px black;
}

._error {
  border: 1px solid #D13438;
}

._error-icon::after {
  content: url("img/error.svg");
  position: absolute;
  top: 13px;
  right: 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 70px;
}

.contact {
  border-top: 1px solid #B0B0B0;
  padding-top: 4px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .footer-content {
    flex-wrap: wrap;
  }
  .logo {
    width: 100%;
  }
}
.contact-type {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
}

.contact-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #363636;
}

.social-liks-box {
  display: flex;
  gap: 15px;
}

.social_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #363636;
}

.confidentional-policy {
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.grey {
  color: #363636;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -10;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__content {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 484px;
  background-color: #E0E0E0;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .popup__content {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 340px;
  }
}
._open {
  display: flex;
  -webkit-animation: showpopup 3s ease-in-out;
          animation: showpopup 3s ease-in-out;
}

@-webkit-keyframes showpopup {
  0% {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  25% {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  75% {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

@keyframes showpopup {
  0% {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  25% {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  75% {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}/*# sourceMappingURL=style.css.map */