@import 'vars';
@import 'contacts';
@import 'servises-main';
@import 'articles';
@import 'reviews';
@import 'calc_style';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    text-decoration-color: $darkGrey;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-section {
    flex: 1;
}

/*

._moved-left
класс отвечает за смещение влево осн секций на страницах статьи и контакты, при ширине 767 отступ обнуляется(_servises-main.scss)
 
*/

//запрет прокуртки при открытом бургер меню
body._lock {
    overflow: hidden;
}

img {
    max-width: 100%;
}

input,
textarea {
    outline: 0;
}

.center {
    max-width: 975px;
    margin: 0 auto;
    padding: 0 5px;
}

//------------------------стили для хедера---------
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $orange;

}

.header-content {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.logo-header {}

.nav {
    width: 50%;
    padding-bottom: 8px;
}

.nav-icon,
.nav-info-mobile {
    display: none;
}

.nav-box {

    display: flex;
    justify-content: space-between;
}

.nav-link>a {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.nav-link>a:hover {
    color: $blackText;
}


.city {
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.phone-number {
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}


//--------------------------------------


//----------------------бургер----------


@media(max-width:767px) {

    .nav-box {
        display: block;
        position: fixed;
        top: 80px;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: $lightGrey;
        padding: 100px 30px 30px 30px;
        transition: all 0.5s ease 0s;

    }

    .nav-box._active {
        right: 0;
    }

    .nav-icon {
        display: flex;
        justify-content: flex-end;
    }

    .nav-info-mobile {
        display: block;
        padding-top: 90px;
    }

    .nav-info-mobile p {
        padding-bottom: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

    }

    .nav-icon .fa-solid {
        font-size: 40px;
        margin-right: 20px;
        color: #FFFFFF;
    }

    ._hidden {
        display: none;
    }

    ._show {
        opacity: 0;
    }

    .nav-link {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 25px;


    }

    .nav-link>a {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 25px;
        color: #000;
    }

    //меняю порядок элементов
    .header-content {
        flex-wrap: wrap;
    }

    .city {
        order: -3;
        width: 50%;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000;

    }

    .logo-header {
        max-width: 50%;
    }

    .phone-number {
        order: -2;
        text-align: end;
        width: 50%;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000;
    }
}

//-----------------------стили main
.main-banner {
    background-image: url('img/banner.jpg');
    background-size: cover;

    min-height: 480px;
    margin-bottom: 70px;
}

@media(max-width:360px) {
    .main-banner {
        background-image: url('img/banner_mobile.jpg');
    }
}

.main-content {

    padding-top: 216px;
    padding-bottom: 30px;

    &__title {
        max-width: 52%;

        margin-bottom: 15px;
        font-weight: 600;
        font-size: 45px;
        line-height: 40px;
        color: #fff;
    }


    &__text {
        max-width: 37%;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        margin-bottom: 25px;

    }
}

.btn {
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
    background-color: $orange;
    border-radius: 20px;
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.btn:hover {
    color: $orange;
    background-color: #fff;
    border: 1px solid $orange;
}

.btn:active {
    background-color: #F1AA69;
    border: 1px solid $orange;
    color: $orange;

}

//всякие одинаковые элементы
.subtitle {
    font-weight: 600;
    font-size: 40px;
    line-height: 36px;
    color: $darkGrey;
    margin-bottom: 30px;
}

@media(max-width:945px) {
    .subtitle {
        text-align: center; //при перестроении блоков в колонну, заголовок ставлю по центру, в мобилке возвращаю обратно
    }
}

@media(max-width:420px) {
    .subtitle {
        text-align: left; //при перестроении блоков в колонну, заголовок ставлю по центру, в мобилке возвращаю обратно
    }
}

//servises
.servises-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.servises-item {
    border: 1px solid $grey;
    border-radius: 20px;
    padding: 20px;
    // width: 48%;
}

@media(max-width:945px) {
    .servises-box {
        justify-content: center;
    }

    .servises-item {
        margin-bottom: 15px;
    }

}


.servises {
    margin-bottom: 70px;

    &__title {}

    &__img {
        margin-bottom: 10px;
    }

    &__descr {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: $blackText;
        margin-bottom: 30px;
    }

    &__details {
        display: flex;
        justify-content: space-between;
    }

    &__price {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

    }

    &__btn {}
}

//thesises
.thesises {
    margin-bottom: 70px;
}

.thesises-content {}

.thesises-box {
    display: flex;
    justify-content: space-between;

}

.thesises-item {
    border: 1px solid $green;
    border-radius: 20px;
    padding: 40px 0;
    width: 31%;
}

@media(max-width:945px) {
    .thesises-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .thesises-item {
        width: 51%;
        margin-bottom: 15px;
    }
}

@media(max-width:767px) {
    .thesises-item {
        width: 63%;
    }
}

@media(max-width:420px) {
    .thesises-item {
        width: 100%
    }

}

.thesis-heading {
    font-weight: 400;
    font-size: 32px;
    line-height: 28px;
    color: $blackText;
    text-align: center;
    margin-bottom: 10px;
}

.thesis-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

}

//---------------------------------

//feedback form
.callback {
    background-image: url('img/banner2.jpg');
    background-size: cover;
    min-height: 416px;

}

.callback-content {
    display: flex;
    padding: 35px 0;
    justify-content: flex-end;
}

#callbackform {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    padding: 35px;
    background-color: #F4F4F4;
    border-radius: 18px;
    margin-right: 96px;

}

@media(max-width:945px) {
    #callbackform {
        margin-right: 0;
    }

    .callback-content {
        justify-content: center;
    }
}

@media(max-width:425px) {
    .callback {
        background-image: none;
    }

    #callbackform {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:400px) {
    #callbackform {
        max-width: 350px;
    }
}

@media(max-width:375px) {
    #callbackform {
        max-width: 320px;
    }
}

.form-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #000;
    margin-bottom: 25px;
    text-align: center;

}

.form-item {
    position: relative;
}

.form-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 0 15px 10px;
    font-weight: 400px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid $grey;
    border-radius: 4px;
    position: relative;
}

.form-input:hover {
    box-shadow: 0 1px $grey;
}

.form-input:focus {
    box-shadow: 0 1px #0F6CBD;
}

.form-input:active {
    box-shadow: 0 1px black;
}


._error {
    border: 1px solid #D13438;

}

._error-icon::after {
    content: url('img/error.svg');
    position: absolute;
    top: 13px;
    right: 15px;
}




//footer
.footer {}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 70px;
}



.contact {
    border-top: 1px solid $grey;
    padding-top: 4px;
    margin-bottom: 25px;
}

@media(max-width:767px) {
    .footer-content {
        flex-wrap: wrap;
    }

    .logo {
        width: 100%;

    }


}

.contact-type {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;

}

.contact-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: $darkGrey
}

.social-liks-box {
    display: flex;
    gap: 15px
}

.social {

    &_link {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $darkGrey;

    }
}

.confidentional-policy {
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.grey {
    color: $darkGrey;
}







//-------------------popup---------------

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;


    &__content {
        padding-top: 70px;
        padding-bottom: 70px;
        width: 484px;
        background-color: #E0E0E0;
        border-radius: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;

    }
}

@media(max-width:767px) {
    .popup {
        &__content {
            padding-top: 60px;
            padding-bottom: 60px;
            width: 340px;
        }
    }
}

._open {
    animation: showpopup 3s ease-in-out;
}

@keyframes showpopup {
    0% {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }

    25% {
        opacity: 1;
        visibility: visible;
        z-index: 5;
    }

    75% {
        opacity: 1;
        visibility: visible;
        z-index: 5;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }

}